* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-background: #36393f;
  --clr-primary-background-clear: #484c53;
  --clr-primary-link: rgb(39, 168, 255);
  --clr-contrast: #18191c;
  --clr-sidebar-background: #2f3136;
  --clr-sidebar-background-light: #41444b;
  --clr-contrast-light: #292929;
  --clr-bordert: #575757;
  --clr-primary-link-hover: rgb(120, 201, 255);
  --clr-error: #ff0033;
  --clr-primary-background-dark: #2f3136;
}

body {
  background-color: var(--clr-primary-background);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link {
  color: var(--clr-primary-link) !important;
  text-decoration: none;
}

.link:hover {
  color: var(--clr-primary-link-hover) !important;
  text-decoration: underline;
}

.show-button {
  cursor: pointer;
}

.error {
  color: var(--clr-error);
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--clr-primary-background-dark);
}

*::-webkit-scrollbar {
  width: 10px;

  border-radius: 10px;
  background-color: var(--clr-primary-background-dark);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 48px;
  background-color: var(--clr-contrast-light);
}
