.login {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 90vw;
}

.login-element {
  margin: 10px !important;
}
