.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  justify-content: center;
}

.register,
form {
  align-self: center;
}

.register-form {
  display: flex;
  max-width: 1920px;
  width: 90vw;
  flex-direction: column;
}

.register-element {
  margin: 10px !important;
}

.register-button-container {
  display: flex;
  justify-content: center;
}
