.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
}
.sidebar-tabs {
  display: flex;
  flex-direction: column;
}

.sidebar-tabs-panel {
  flex-grow: 1;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sidebar-tabs-container {
  border-bottom: 1px solid var(--clr-contrast);
}

.sidebar-avatar-wrapper {
  display: flex;
  align-items: center;
}

.sidebar-avatar-info {
  margin-left: 8px;
}

.sidebar-bottom-container {
  background-color: var(--clr-contrast-light);
  padding: 10px;
}

.sidebar-button {
  width: 100%;
  border-top: 1px solid var(--clr-contrast);
}
/* .modal-add-friend {
  width: 400px;
  background-color: var(--clr-primary-background);
  padding: 30px;
} */
.modal-form {
  display: flex;
  flex-direction: column;
}
.sidebar-friend-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
  margin: 8px;
  color: #b4b4b4;
}

.sidebar-friend-list-item:hover {
  background-color: #393b41;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
